
*.beam

web/ebin
web/deps
router/ebin

distributed_router/erl_crash.dump

*.dump

ecomet_thrift_server/deps/jsx/

ecomet_thrift_server/deps/thrift/

router/mnesia/LATEST.LOG

router/mnesia/schema.DAT

thrift_server/deps/jsx/

thrift_server/deps/thrift/

thrift_clients/.PhpClient.php.swp

router/mnesia/DECISION_TAB.LOG

router/mnesia/DECISION_TAB.LOG

router/mnesia/DECISION_TAB.LOG

*.log

thrift_server/deps/goldrush/

thrift_server/deps/lager/

router/deps/lager/

router/deps/goldrush/

thrift_server/ebin/ecomet_thrift_server.app
