%% -*- erlang -*-
{erl_opts, [
    debug_info,
        {i, "./gen-erl/"},
        {src_dirs, ["src", "gen-erl"]},
        {platform_define, "R15", 'gen_tcp_r15b_workaround'}
    ]}.
{cover_enabled, true}.
{sub_dirs, ["rel/ecomet_router","rel/ecomet_thrift_server", "rel/ecomet_web","apps/router", "apps/web", "apps/thrift_server", "gen-erl", "apps/shared_module"]}.

{deps, [
    {thrift, ".*",
        {git, "git://github.com/zhangjiayin/thrift-erlang.git", {branch, "master"}}},
   {lager, ".*",
       {git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}},
    {mochiweb, ".*",
        {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}}
   ]
}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.
