{sys, [
       {lib_dirs, ["../","../../",  "../deps"]},
       {rel, "ecomet_thrift_server", "1",
        [
         kernel,
         stdlib,
         ecomet_thrift_server,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "ecomet_thrift_server"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "ecomet_thrift_server"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/ecomet_thrift_server", "bin/ecomet_thrift_server"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
